<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="conn" connectionString="Data Source=CSE1405161\\SQLEXPRESS;Initial Catalog=Shivangi;Integrated Security=True"
   providerName="MySql.Data.MySqlClient" />
  <add name="ShivangiConnectionString" connectionString="Data Source=CSE1405161\SQLEXPRESS;Initial Catalog=Shivangi;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="medinow.app@gmail.com">
        <network host="smtp.gmail.com"
         port="587"
         userName="medinow.app@gmail.com"
         password="medinow123"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DynamicData.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
	</system.web>
</configuration>
